azure-core @ file:///home/conda/feedstock_root/build_artifacts/azure-core_1717713606516/work
azure-cosmos @ file:///home/conda/feedstock_root/build_artifacts/azure-cosmos_1710465418163/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1715091184126/work
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1718954179215/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1718937901137/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1695989934239/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1718025014955/work/certifi
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1712667726126/work
Flask-Cors==4.0.1
greenlet @ file:///Users/runner/miniforge3/conda-bld/greenlet_1703201706930/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1713279365350/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1719171233697/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1713372668944/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1715127149914/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1655568249366/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1714665484399/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1706900210234/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1718615086963/work/dist/numpy-2.0.0-cp311-cp311-macosx_11_0_arm64.whl#sha256=7f74c109246113724d85b93cbc0a4a141696fa588966d7615cb039fc385e6691
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1715897646986/work
pymssql==2.2.11
pyodbc @ file:///Users/runner/miniforge3/conda-bld/pyodbc_1707165185244/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv-split_1706018097647/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
s3transfer @ file:///home/conda/feedstock_root/build_artifacts/s3transfer_1710497251148/work
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1716489819945/work/dist/scikit_learn-1.5.0-cp311-cp311-macosx_11_0_arm64.whl#sha256=bb3914400d18d942dcd04ea91b396d2d8a07c8ad6fa9b34806f1d98ac269a53d
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1716470269703/work/dist/scipy-1.13.1-cp311-cp311-macosx_11_0_arm64.whl#sha256=0e992411e098e6c56acf32e04ea202871e054f8704758df24c8626bddcd00250
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
SQLAlchemy @ file:///Users/runner/miniforge3/conda-bld/sqlalchemy_1718781204709/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1714400101435/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1707747584337/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1718653059220/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1715000201436/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1718013267051/work
