:root {
  --container-width: 1060px;
}

html {
  height: 100%;
  overflow: auto;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  height:100%;
  overflow: auto;
  overflow-x: hidden;

  background-color: #170d24;
  background-image:
    radial-gradient(ellipse at 10% 90%, #3c2d83 0%, transparent 55%),
    radial-gradient(ellipse at 90% 90%, #c33c65 0%, transparent 55%),
    radial-gradient(ellipse at 90% 10%, #4a74dc 0%, transparent 55%),
    radial-gradient(ellipse at 10% 10%, #35244f 0%, transparent 55%);
}

header {
  background: #00739D;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 4px;
  /* min-width: 600px; */
  max-width: 800px !important;
  width: 100%;
  border: 2px solid purple; /* Purple outline */
  box-sizing: border-box;
}

.search-input {
  flex: 1;
  border: none;
  border-radius: 8px 0 0 8px;
  padding: 8px;
  outline: none;
  background-color: #f2f2f2; /* Match background color */
}

.search-button {
  background-color: #00739D !important;
  color: white !important;
  border: none;
  border-radius: 0 8px 8px 0 !important;/* Sharp left corners */
  padding: 8px 32px !important; 
  cursor: pointer;
  min-width: 120px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px !important;/* Smaller text */
}

.search-button:disabled {
  background-color: #aaaaaa !important;
  cursor: not-allowed;
}

.result-box {
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 16px;
  margin-top: 16px;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.result-table-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* overflow:auto; */
  clear: both;
}

.result-table {
  width: 100%;
  background-color: #f2f2f2;
  border-collapse: collapse;
  flex-grow:1;
}

.result-table th,
.result-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.result-table th {
  background-color: #e0e0e0;
}

.result-table tr:hover {
  background-color: #f1f1f1;
}

.main {
  display: flex !important;
  flex-direction: column !important;
  height: auto !important;
  /* background-color: #f8f8f8; */
}

.center-column {
  display: flex;
  align-items:"center";
  justify-content:"center";
  padding-left: 0% !important;
  padding-right: 0% !important;
  padding-top:48px;
  padding-bottom: 48px;
  margin: 0 auto;
  width: var(--container-width)
}

.search-box-wrapper {
  margin-bottom: 32px;
  align-items: center;
  justify-content: center;
}

/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

